RewriteEngine On

# Ignore requests for files that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect non-existent files to router.php
RewriteRule ^(.*)$ router.php [QSA,L]
